form{
    display: flex;
    justify-content: start;
    flex-direction: column;
    justify-content: start;
}

.input-field {
		position: relative;
		margin: 1rem;
	}
	label {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		color: #a3a1a1;
		transition: 0.2s all;
		cursor: text;
	}
	input {
		border: 0;
		outline: 0;
		padding: 0.5rem 0rem;
		border-bottom: 2px solid #503e3e;
		box-shadow: inset;
		color: #111;
		//   margin: 0 ;
	}

	input:focus,
	input:valid {
		border-color: #0067dd;
		// border: thin 2px #0067dd;
		// border-radius: 5%;
	}
	input:focus ~ label,
	input:valid ~ label {
		font-size: 14px;
		top: -24px;
		color: #0067dd;
	}